button{
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 50px;
}
button.light:hover{
    background-color: #000;
    color: white;
}
button.dark:hover{
    background-color: #666;
    color: white;
}

.button.dark, .dark button{
    background-color: black;
    border: 1px solid yellow;
}
.button.light, .light button{
    background-color: #333;
    border: 1px solid yellow;
}